<footer >
    <div class="container" id="footers">
            <div class="row-fluid" style="text-align:center;">
                <div class="col-lg-3">
                    <p> 
                        <a href="" rel="nofollow" title="BIS-PROTO on Twitter" target="ext">Twitter</a><br>
                        <a href="" rel="publisher">Google+</a><br>
                        <a href="" rel="nofollow" title="BIS-PROTO on Facebook" target="ext">Facebook</a><br>
                        <a href="" target="ext">GitHub</a><br>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p> 
                        <a data-toggle="modal" role="button" href="">Contact</a><br>
                        <a href="">Tags</a><br>
                        <a href="">Community</a><br>
                        <a href="">Upgrade</a><br>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p> 
                        <a href="" rel="nofollow" title="Premium Bootstrap themes">Bootstrap Themes</a><br>
                        <a href="" target="ext" rel="nofollow">BootBundle</a><br>
                        <a href="" target="_ext" rel="nofollow" title="Free Bootstrap templates">BootstrapZero</a><br>
                        <a href="" target="_ext">Responsive Design Cheatsheet</a><br>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p>
                        <a href="/about#privacy">Privacy</a><br>
                        <a href="/about#terms">Terms</a><br><br>
                        
                    </p>
                    
                </div>
            </div>
            <div class="row-fluid" >
	            <div class="col-lg-offset-5" style="float:left;margin-top:10px;">
	            	Copyright 2014-2015 <a href="" title="The Bootstrap Playground">BIS-PROTO</a>
	            </div>
        	</div>
        </div>
     </footer>